/* Remove everything from the new tab pages */
@-moz-document url("about:home"), url("about:newtab") {
* {pointer-events: none !important;
   visibility: collapse !important;
   opacity: 0 !important;
   --background-color: 000000 !important;
  }
}
