/* Remove the settings icon on the new tab page */
@-moz-document url("about:home"),

url("about:newtab"), url("about:blank"), url("about:home") {

    .personalize-button,
    .search-inner-wrapper {
        display: none !important;
    }
}
