/* Remove everything from the new tab pages */
@-moz-document url("about:home"), url("about:newtab") {
div {pointer-events: none !important;
       visibility: collapse !important;
       opacity: 1 !important;
      }
:root {--background-color: 000000 !important;}
}
