/* userchrome.css for my LibreWolf/Firefox/Reynard */
/********************** BEGIN **********************/

/* Remove tab close button. Appear on hover with smooth transitions */
.tabbrowser-tab:not([pinned]) .tab-close-button {
	display: -moz- !important;
	opacity: 0;
	visibility: collapse !important;
	transition: all 200ms ease-in-out, fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;}
.tabbrowser-tab:not([pinned]):hover  .tab-close-button {
	opacity: 1;
	visibility: visible !important;
	transition: all 200ms ease-in-out, fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;}
.tabbrowser-tab:not([pinned]):hover  .tab-close-button:hover {
	fill: #FF0000 !important;
	transition: all 200ms ease-in-out, fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;}
.tabbrowser-tab {--tab-label-mask-size: 1em !important;}
.close-icon{transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;}
.close-icon:hover {fill: #FF0000 !important;}

/* Minimalist URL bar & search experience */
#urlbar {
    padding-left: 0px !important;
    padding-right: 0px !important;}
.urlbarView-favicon {visibility: collapse !important;}
.search-one-offs{padding-block: 4px !important}
.urlbarView-body-outer {
    padding: 0px !important;
    display: none !important;
    visibility: collapse !important;}
.urlbarView{
    padding-left: 1px !important;
    padding-right: 1px !important;}
#urlbar-engine-one-off-item-engine--1, .menuitem-iconic.searchmode-switcher-addEngine,
#searchbar-engine-one-off-item-engine--1, .searchbar-search-icon-overlay {display: none !important;}
#urlbar-search-splitter{visibility: show !important;}
.searchbar-search-button, .searchbar-search-icon{visibility: collapse !important;}

/* Make the tabs slightly thinner - looks best with compact mode */
#TabsToolbar {
  height: 30px !important;
  padding-block: 0px !important;}
.tab-background {
  height: 30px !important;
  margin-block: auto !important;}
.tab-content {
  padding: -1px -1px !important;
  padding-left: -2px !important;
  display: flex !important;
  align-items: center !important;}
.tab-close-button {
  align-self: center !important;}
:root {--tab-min-height: 30px !important;}

/* Hide most of the junk in the URL bar, keep canvas icon */
#tracking-protection-icon-container {
    visibility: collapse !important;
    max-width: 0px !important;
    min-width: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    margin: -1px !important;
    border: none !important;
    opacity: 0 !important;
    overflow: hidden !important;
    pointer-events: none !important;
}
#identity-box{margin: 1px !important;}
#identity-icon-box{
  border: none !important;
  visibility: hidden !important;
  overflow: hidden !important;
  visibility: collapse !important;
  pointer-events: none !important;
  opacity: 0 !important;
}
#canvas-notification-icon{
  visibility: show !important;
  padding: 0px !important;
  margin-right: 1px
}

/* remove container indicator line, instead make tab text colour match chosen containers' colour */
#tabbrowser-tabs .tab-context-line {display: none;}
.tabbrowser-tab[class*="identity-color-"] .tab-label {
		color: var(--identity-icon-color) !important;}

/* Give tab favicons a very slight rounded effect, for consistency and aesthetics */ 
.tab-icon-image{
  border-radius: 1px !important;
  opacity: 1 !important}

/* Hide misc stupid elements */
.urlbar-go-button, .search-setting-button, .tab-icon-overlay {display: none !important;}

/* Make the menu bar spacers slightly smaller*/
.titlebar-spacer{width: 10px !important;}

/* Remove forced empty space when using built-in vertical tabs */
#vertical-spacer{
    width: 0px !important;
    padding 0px !important;
    display: none !important;
    visibility: collapse !important;
}

/* New Firefox 145+ hyper round UI is ugly as hell */
#nav-bar *,
#PersonalToolbar *,
.toolbar-items * {border-radius: 4px !important;}
:root {
    --toolbarbutton-border-radius: 4px !important;
    --urlbar-border-radius: 4px !important;
}

/********************** END **********************/
